.main-page {

}
.main-page-nav{

}
.link-logo{

}
.logo-part-header{

}
.menu-list{

}
.menu-link{
    color: (#2E2F42);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 0.32px;
}