.main-page {

}
.main-page-nav{

}
.link-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700 ;
    font-size: 18px ;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

}
.logo-part-header{
color:#2e2f42 ;
}
.menu-list{

}
.body-descr{
   font-family:Roboto, sans-serif;
   color: #434455;
   background-color: #FFFFFF;
}
.menu-link{
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 24px; 
letter-spacing: 0.32px;
color: (#2E2F42);
}
.menu-link-link:hover{
    color:  #404bbf  ;
    
}
.menu-link link:focus{
 color:  #404bbf 
}
.header-adress{
    font-style: normal;
}
.list{

}
.header-contacts{
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.32px;
color: (#434455);
}
.first-section{
    background-color: #2e2f42;
}
.first-section-name{
width: 496px;
text-align: center;
font-family: Roboto;
font-size: 56px;
font-weight: 700;
line-height: 60px; 
letter-spacing: 1.12px;
line-height: 1.07;
color: #ffffff ;
}
.button-descr{
background-color: #4D5AE5 ;
font-family: "Roboto", sans-serif;
font-weight: 500 ;
font-size: 16px ;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff ;
cursor: pointer ;
}
.button-descr :hover{
background-color: #404BBF ; 
}
.button-descr:focus{
background-color: #404BBF;
}
.second-section-name{
font-weight: 500;
font-size: 20px ;
line-height: 1.2; 
letter-spacing: 0.02em;
color:#434455 ;
}
.second-section-name-descr{
font-size: 16px;
line-height: 1.5;
font-weight: 400;
line-height: 24px; 
letter-spacing: 0.32px;
}
.third-section{
background-color: #F4F4FD ;
color: #2e2f42;
}
.third-section-names{
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em ;
color:(#2E2F42);
}
.first-section-names{
text-align: center;
font-family: Roboto;
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.4px;
color:( #2E2F42);
}
.section-three-position{
text-align: center;
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.32px;
color:(#434455);
}
.fourth-section{

}
.fourth-section-name{
text-align: center;
font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.72px;
text-transform: capitalize;
color:(#2E2F42);
}
.card-content{
font-family: Roboto;
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.4px;
color (#2E2F42);
}
.card-content-descr{
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.32px;
color: ( #434455);
}

.page-footer{
background-color: #2e2f42;

}
.footer-log{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.span-descr{
color: #f4f4fd;
}

.footer-paragraph{
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.32px;
color:( #F4F4FD);
}