.main-page {

}
.main-page-nav{

}
.link-logo{

}
.logo-part-header{

}
.menu-list{

}
.menu-link{
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 24px; 
letter-spacing: 0.32px;
color: (#2E2F42);
}
.header-adress{

}
.list{

}
.header-contacts{
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.32px;
color: (#434455);
}
.first-section{

}
.first-section-name{
width: 496px;
color: (#FFF);
text-align: center;
font-family: Roboto;
font-size: 56px;
font-weight: 700;
line-height: 60px; 
letter-spacing: 1.12px;
}